.button_container {
  width: 100%;
  max-width: 10rem;
  padding: 1.2rem 1.5rem;
  border-radius: 10px;
  outline: none;
  border: 0px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .button_container {
    max-width: 6.5rem;
  }
}

.button_container:active {
  background-color: rgb(0, 60, 67);
  color: rgb(255, 255, 255);
}

.button_container:focus {
  background-color: rgb(0, 60, 67);
  color: rgb(255, 255, 255);
}

.button_container:hover {
  background-color: rgb(0, 60, 67);
  color: rgb(255, 255, 255);
}
