.container {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding-top: 6rem;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem;
  }
  .container h1 {
    font-size: 28px;
  }
}

.marginTop {
  margin-top: 2rem;
}

.flexbox {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/*
    Loading Spinner
 */

.loading_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
