.tag_container {
  width: 100%;
  max-width: 9rem;
  height: 2rem;
  border-radius: 12px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag_national_holiday {
  background-color: rgb(170, 246, 255);
}

.tag_observance {
  background-color: rgb(255, 149, 241);
}

.tag_common_holiday {
  background-color: rgb(158, 255, 174);
}

.tag_season {
  background-color: rgb(255, 164, 90);
}
