.table_row {
  border-top-left-radius: 10px;
  line-height: 1.2rem;
  letter-spacing: 0.05em;
}

.table_row td {
  padding: 20px;
}

.table_row td {
  text-align: center;
}

.table_row td {
  border-top-right-radius: 10px;
}

.table_row .tableDescription {
  text-align: left;
}
